.logo-icon {
    width: 40px;
    height: 30px;
    margin: 0 auto;
    display: block;
    /* background: url(../img/logo.png) no-repeat center center; */
    background-size: cover;
}


.my-custom-class-Mitr {
    font-family: 'Mitr', sans-serif;
}

.my-custom-class-Archivo {
    font-family: 'Archivo', sans-serif;
}




.intro {
    position: relative;
    margin: 2em;
    padding: 0.2em 0.6em;
    cursor: pointer;
    color: #fff;
    font-size: 1em;
    max-width: 20em;
    background-color: rgb(245, 189, 87);
}

/* Media query for tablets */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .intro {
        margin: 2em auto;
        /* Auto margin to center the box horizontally */
    }
}

/* Media query for mobile devices */
@media only screen and (max-width: 599px) {
    .intro {
        margin: 2em auto;
        /* Auto margin to center the box horizontally */
    }
}

.intro h1 {
    margin-bottom: 0.5em;
    line-height: 1;
    font-weight: 100;

}

#CrossFade {
    background: #fff;
    display: flex;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#CrossFade img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.4) rotate(12deg);
    -webkit-animation: CrossFade 24s infinite;
    animation: CrossFade 24s infinite;
}

#CrossFade img:nth-child(3) {
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
}

#CrossFade img:nth-child(2) {
    -webkit-animation-delay: 12s;
    animation-delay: 12s;
}

#CrossFade img:nth-child(1) {
    -webkit-animation-delay: 18s;
    animation-delay: 18s;
}

/* 

$duration = 12
$slides = 4
$step = $duration/$slides
setDelayRevers($duration, $slides)
  
  for index in (2..$slides)
    &:nth-child({index -1}) 
      animation-delay ($step*index)s

#CrossFade
  height 100vh
  overflow hidden
  position relative
  
  display flex
  img
    align-self center
    position absolute
    
    min-width 100%
    min-height 100%
    height auto
    
    backface-visibility hidden
    opacity 0
  
    transform scale(1.4) rotate(12deg)
    animation CrossFade ($duration)s infinite 
    setDelayRevers($duration, $slides)   
@keyframes CrossFade
  25%
    opacity 1
    transform scale(1) rotate(0)
  40%
    opacity 0
    
*/
@-webkit-keyframes CrossFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }

    40% {
        opacity: 0;
    }
}

@keyframes CrossFade {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }

    40% {
        opacity: 0;
    }
}


.Partition-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    margin: 0;
    background-color: #f0f0f0;
    position: relative;
}

#letterV2 {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #f0f0f0;
    /* You can change the fill color if needed */
}

.ourfirm {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ourfirm h1 {
    margin: 0;
    font-size: 2em;
    color: #3498db;
    /* You can change the color if needed */
}

.slogan {

    width: 305px;
    height: 64px;
    flex-shrink: 0;
    color: #000;

    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Archivo;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    /* You can change the color if needed */
}


.projects {
    width: 177px;
    height: 25px;
    flex-shrink: 0;
    color: #FFF;

    font-family: Archivo;
    font-size: 28px;
    font-style: normal;
    font-weight: 0;
    line-height: normal;
}