body {
    overflow: hidden;
}

/* Style for the modal */
#aboutUsModal {
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    border-radius: 10px;
    max-width: 1050px;
    width: 80%;
    overflow: hidden;
    transition: backdrop-filter 0.5s ease-in-out;
}

/* Style for the close button */
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Style for the blurred background effect */
.blurred {
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.5s ease-in-out;
}

/* Style for the left and right sections */
.leftSection,
.rightSection {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
}

/* Style for the image */
.profileImage {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Style for the education details */
.educationDetails {
    margin-top: 20px;
}

/* Style for associations and affiliations */
.associations {
    margin-top: 20px;
}
.slideshow {
    list-style-type: none;
}

/** SLIDESHOW **/
.slideshow,
.slideshow:after {
    top: -16px;
    /*Not sure why I needed this fix*/
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 0;
}

.slideshow li span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s;
}



.slideshow li:nth-child(1) span {
    background-image: url("/assets/Image/Aerial\ night_21_Mar_2023.jpg");
}

.slideshow li:nth-child(2) span {
    background-image: url("/assets/Image/AERIAL\ VIEW--02.jpg");
    animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
    background-image: url("/assets/Image/Vikrant\ Building\ \ Cam\ 003\ \ Arial\ Night\ \ View\ 01_12_\ Aug_\ 2023_\ 02.jpg");
    animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
    background-image: url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5bfa14d04ae3429879830ee4_home-hero.jpg");
    animation-delay: 18s;
}

.slideshow li:nth-child(5) span {
    background-image: url("https://uploads-ssl.webflow.com/5976a3655fcd654cb3d604ca/5c00c9963ea913260bb41b0e_powerlines.jpg");
    animation-delay: 24s;
}



@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}


@keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}


.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}