        #drop-area {
            border: 2px dashed #ccc;
            padding: 20px;
            text-align: center;
            cursor: pointer;
            display: block;
        }

        #file-input {
            display: none;
        }

        #file-label {
            display: block;
            margin-top: 10px;
        }

        #clear-button {
            display: none;
            margin-top: 10px;
            cursor: pointer;
            color: #fff;
            background-color: #f00;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
        }

        #preview-button {
            margin-top: 20px;
            cursor: pointer;
            color: #fff;
            background-color: #3498db;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
        }

        #file-preview {
            display: none;
            border: 2px solid #3498db;
            padding: 20px;
            margin-top: 20px;
            overflow: auto;
        }

        #preview-image {
            max-width: 100%;
            max-height: 400px;
        }

        #preview-pdf {
            width: 100%;
            height: 400px;
        }


        .projects .portfolio-flters {
            padding: 0;
            margin: 0 auto 20px auto;
            list-style: none;
            text-align: center;
        }

        .projects .portfolio-flters li {
            cursor: pointer;
            display: inline-block;
            padding: 0;
            font-size: 18px;
            font-weight: 500;
            margin: 0 10px;
            line-height: 1;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
        }

        .projects .portfolio-flters li:hover,
        .projects .portfolio-flters li.filter-active {
            color: var(--color-primary);
        }

        .projects .portfolio-flters li:first-child {
            margin-left: 0;
        }

        .projects .portfolio-flters li:last-child {
            margin-right: 0;
        }

        @media (max-width: 575px) {
            .projects .portfolio-flters li {
                font-size: 14px;
                margin: 0 5px;
            }
        }

        .projects .portfolio-content {
            position: relative;
            overflow: hidden;
        }

        .projects .portfolio-content img {
            transition: 0.3s;
        }

        .projects .portfolio-content .portfolio-info {
            opacity: 0;
            position: absolute;
            inset: 0;
            z-index: 3;
            transition: all ease-in-out 0.3s;
            background: rgba(0, 0, 0, 0.6);
            padding: 15px;
        }

        .projects .portfolio-content .portfolio-info h4 {
            font-size: 14px;
            padding: 5px 10px;
            font-weight: 400;
            color: #fff;
            display: inline-block;
            background-color: var(--color-primary);
        }

        .projects .portfolio-content .portfolio-info p {
            position: absolute;
            bottom: 10px;
            text-align: center;
            display: inline-block;
            left: 0;
            right: 0;
            font-size: 16px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.8);
        }

        .projects .portfolio-content .portfolio-info .preview-link,
        .projects .portfolio-content .portfolio-info .details-link {
            position: absolute;
            left: calc(50% - 40px);
            font-size: 26px;
            top: calc(50% - 14px);
            color: #fff;
            transition: 0.3s;
            line-height: 1.2;
        }

        .projects .portfolio-content .portfolio-info .preview-link:hover,
        .projects .portfolio-content .portfolio-info .details-link:hover {
            color: var(--color-primary);
        }

        .projects .portfolio-content .portfolio-info .details-link {
            left: 50%;
            font-size: 34px;
            line-height: 0;
        }

        .projects .portfolio-content:hover .portfolio-info {
            opacity: 1;
        }

        .projects .portfolio-content:hover img {
            transform: scale(1.1);
        }